body {
	background-color: cornsilk;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
}



.navbar + .w3-content {
	padding-top: 100px;
}

.navbar + .container {
	padding-top: 80px;
}

  .navbar-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(30, 36, 43);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  }
  
  .nav-item {
	  margin-left: 20px;
	  padding: 10px;
	float: left;
  }
  
  li a {
	display: block;
	color: black;
	text-align:center;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #DEB887;
	transition: 0.6s;
  }



  .mySlides {
	  display:block;
	  margin-left: auto;
	  margin-right: auto;
	  padding: 1px;
	  transition: 1s;
	}

	.nav-item {
		padding-bottom: 15px;
	}

	/*.row {
		background-color: rgb(30, 36, 43);
	}*/

	.logo {
		margin-top: 20px;
	}

	.w3-button {
	margin-left: 30%;
	}

	.footer {
		text-align: center;
		background-color: #DEB887;
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
	}

	.container {
		/*text-align: center;*/
		font-family: garamond, serif;
		font-size: 120%;
		font-weight: bold;
	}

	.lista {
		background-color: cornsilk;
		list-style-type: square;
		text-align: left;
		padding-top: 20px;
	}

	.col-sm-6 {
		margin-top: 30px;
	}

	.list {
		padding-top: 10px;
	}

	h2 {
		padding-left: 18%;
	}

	#kuva7 {
		width: 80%; 
		height: 20%;
		padding-top: 10%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	#box1	{
		margin-top: 10%;
		border-style: solid;
		background-color: cornsilk;
		transition: 0.3s;
	}

	#box2	{
		margin-top: 10%;
		border-style: solid;
		background-color: cornsilk;
		transition: 0.3s;
	}

	#box3	{
		transition: 0.3s;
		margin-top: 10%;
		border-style: solid;
		background-color: cornsilk;
	}

	#box2:hover {
	background-color: #e5dfc6;
	}

	#box1:hover {
		background-color: #e5dfc6;
		}

	#box3:hover {
		background-color: #e5dfc6;
		}
	/*#tietolaatikko {
		background-image: url("kuva7.jpg");
		margin-top: 6.5%;
		background-repeat: no-repeat;
		background-size: 100% 80%;
		
	}
*/
	@media screen and (min-width:400px) {
		#tietolaatikko {
			width: 100%;
		}
	}

	@media screen and (max-width:800px) {
		#box1, #box2, #box3 {
			width: 90%;
			margin-left: 5%;
		}
	}	

	@media screen and (max-width:570px) {
		#logo {
			display: none;
		}
	}

	#boxi {
		border-style:ridge;
		background-color: antiquewhite;
		width: 70%;
		text-align: center;
	}

	.kuvat {
		margin-top: 100px;
	}

	div.gallery {
		border: 1px solid #ccc;
	  }
	  
	  div.gallery:hover {
		border: 1px solid #777;
	  }
	  
	  div.gallery img {
		width: 100%;
		height: auto;
	  }
	  
	  div.desc {
		padding: 15px;
		text-align: center;
	  }
	  
	  
	  
	  .responsive {
		padding: 0 6px;
		float: left;
		width: 24.99999%;
	  }
	  
	  * {
		box-sizing: border-box;
	  }

	  @media only screen and (max-width: 700px) {
		.responsive {
		  width: 49.99999%;
		  margin: 6px 0;
		}
	  }
	  
	  @media only screen and (max-width: 500px) {
		.responsive {
		  width: 100%;
		}
	  }

	  .navbar + div.responsive, .responsive {
		  padding-top: 100px;
	  }


	  .taulukko {
		  padding-top: 100px;
		  padding-left: 20px;
	  }

	p {
		text-align: center;
	}

	#kuva5:hover {
		filter: grayscale(60%);
		transition: 0.4s;
	}

	#kuva6:hover {
		filter: sepia(60%);
	}

	#kuva5 {
		transition: 0.5s;
	}

	#kuva6 {
		transition: 0.5s;
	}

	/*.col-sm-4 {
		margin-left: 5px;
	}



	<div class="container">

        <div class="row" id="kuvat">

            <div class="col-sm-4">
                <img src="kuva11.jpg" alt="kuva11" height="65%" width="auto">
            </div>
            <div class="col-sm-4">
                <img src="kuva12.jpg" alt="kuva12" height="65%" width="auto">
            </div>
            <div class="col-sm-4">
                <img src="kuva13.jpg" alt="kuva13" height="65%" width="auto">
            </div>
        </div>

        <div class="row">

            <div class="col-sm-4" id="kuvat">
                <img src="kuva14.jpg" alt="kuva14" height="65%" width="auto">
            </div>
            <div class="col-sm-4">
                <img src="kuva15.jpg" alt="kuva15" height="65%" width="auto">
            </div>
            <div class="col-sm-4">
                <img src="kuva16.jpg" alt="kuva16" height="65%" width="auto">
            </div>
        </div>

    </div>
	
	
	
	<div class="kuvat">
    <img src="kuva11.jpg" alt="kuva11" width="30%">
    <img src="kuva12.jpg" alt="kuva12" width="30%">
    <img src="kuva13.jpg" alt="kuva13" width="30%">
    <img src="kuva14.jpg" alt="kuva14" width="30%">
    <img src="kuva15.jpg" alt="kuva15" width="30%">
    <img src="kuva16.jpg" alt="kuva16" width="30%">
</div>