body {
	background-color: cornsilk;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar + .w3-content {
	padding-top: 100px;
}

.navbar + .container {
	padding-top: 80px;
}

  .navbar-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(30, 36, 43);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  }
  
  .nav-item {
	  margin-left: 20px;
	  padding: 10px;
	float: left;
  }
  
  li a {
	display: block;
	color: black;
	text-align:center;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #DEB887;
  }



  .mySlides {
	  display:block;
	  margin-left: auto;
	  margin-right: auto;
	  padding: 5px;
	}

	.nav-item {
		padding-bottom: 15px;
	}

	/*.row {
		background-color: rgb(30, 36, 43);
	}*/

	.logo {
		margin-top: 20px;
	}

	.w3-button {
	margin-left: 30%;
	}

	.footer {
		text-align: center;
		background-color: #DEB887;
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
	}

	.container {
		text-align: center;
		font-family: garamond, serif;
		font-size: 120%;
		font-weight: bold;
	}

	.lista {
		background-color: cornsilk;
		list-style-type: square;
		text-align: left;
		padding-top: 20px;
	}

	.col-sm-6 {
		margin-top: 30px;
	}

	.list {
		padding-top: 10px;
	}



